{% extends "base.html" %}
{% load static %}


{% block extra_css %}
  <link rel="stylesheet" href="{% static "css/pages/home.css" %}"></link>
  {% comment %} <link rel="stylesheet" href="{% static "css/pages/components.css" %}"></link> {% endcomment %}
{% endblock extra_css %}


{% block title %}
  My Tennis Club
{% endblock %}


{% block content %}
  <div class="main">
    <h1>My Tennis Club</h1>

    <h3>Members</h3>
  
    <p>Check out all our <a href='{% url "members" %}'>members</a></p>
  </div>
{% endblock %}
