{% extends "base.html" %}


{% block title %}
  My Tennis Club - List of all members
{% endblock %}


{% block content %}
  <div class="mycard">
    <h1>Members</h1>
    <ul>
      {% if mymembers %}
        {% for x in mymembers %}
          <li onclick="window.location = '{% url "" x.slug %}'">
            {{ x.id }} {{ x.firstname }} {{ x.lastname }}
          </li>
          <li>
          {% comment %} <a href="{% url 'member_detail' x.slug %}">
            {{ x.firstname }} {{ x.lastname }}
            </a>
          </li> {% endcomment %}
        {% endfor %}
      {% endif %}
    </ul>
  </div>
{% endblock %}
