{% extends "base.html" %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="{% static "css/pages/members.css" %}"></link>
<link rel="stylesheet" href="{% static "css/pages/components.css" %}"></link>
{% endblock extra_css %}


{% block title %}
  My Tennis Club - List of all members
{% endblock %}


{% block content %}
  <div class="mycard">
    <h1>Members</h1>
    <ul>
      {% if mymembers %}
        {% for x in mymembers %}
          <a href="{% url "member" x.slug %}">
            <li>
              {{ x.firstname }} {{ x.lastname }}
            </li>
          </a>
        {% endfor %}
      {% endif %}
    </ul>
  </div>
{% endblock %}
